<launch>
    <arg name="topic_position_target_drive" default="/gibbon/joint_drive/command"/>
    <arg name="topic_position_target_l1_dl" default="/gibbon/joint_l1_dl/command"/>
    <arg name="topic_position_target_l1_dr" default="/gibbon/joint_l1_dr/command"/>
    <arg name="topic_position_target_l2_dl" default="/gibbon/joint_l2_dl/command"/>
    <arg name="topic_position_target_l2_dr" default="/gibbon/joint_l2_dr/command"/>
    <arg name="topic_joint_state" default="/gibbon/joint_states"/>

    <param name="/use_sim_time" value="false"/>

    <node name="gibbon_control" pkg="control" type="control_node" ns="/gibbon" output="screen">
        <param name="topic_position_target_drive" value="$(arg topic_position_target_drive)" />
        <param name="topic_position_target_l1_dl" value="$(arg topic_position_target_l1_dl)" />
        <param name="topic_position_target_l1_dr" value="$(arg topic_position_target_l1_dr)" />
        <param name="topic_position_target_l2_dl" value="$(arg topic_position_target_l2_dl)" />
        <param name="topic_joint_state" value="$(arg topic_joint_state)" />
    </node>
</launch>
