<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="gibbon_model" default="$(find gibbon)/urdf/gibbon.xacro"/>
  <arg name="ladder_file" default="$(find gibbon)/urdf/models/ladder.sdf"/>
  <arg name="rvizconfig" default="$(find gibbon)/rviz/basic.rviz"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg ladder_file)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg gibbon_model)" />

<!-- HANGING -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.94 -Y 1.57 -urdf -model gibbon -param robot_description
              -J link_1__link_2 0
              -J link_1_left_gripper_joint 0.00
              -J link_1_right_gripper_joint 0.00"
              respawn="false" output="screen" />

<!-- ON THE FLOOR -->
  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 0.1 -R 1.57 -P 1.57 -urdf -model gibbon -param robot_description
              -J link_1__link_2 0
              -J link_1_left_gripper_joint 0.00
              -J link_1_right_gripper_joint 0.00"
              respawn="false" output="screen" /> -->

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
    <remap from="/joint_states" to="/gibbon/joint_states"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 map base_link 100" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->


  <!-- CONTROL -->
  <rosparam command="load" file="$(find gibbon)/config/joints.yaml" ns="/gibbon" />
  <rosparam command="load" file="$(find gibbon)/config/drive.yaml" ns="/gibbon" />
  <node name="gibbon_controller_spawner" pkg="controller_manager" type="spawner"
    ns="/gibbon"
    args="joint_state_controller
          joint_drive
          joint_l1_dl
          joint_l1_dr
          joint_l2_dl
          joint_l2_dr
    "/>
  <!-- CONTROL -->

</launch>